		.row {
		display:inline-block;
		width:380px;
		vertical-align:top;
		}
		
		.art {
		width:370px;
		transition: all 0.1s ease-in-out;	
		}
		
		.art:hover {
		transform: scale(1.04);	
		cursor:pointer;
		transition: all 0.07s ease-in-out;
		}
		
		.art:active {
		transform: scale(0.95);
		opacity:0.7;
		}