		@font-face {
		font-family: "Seurat Pro";
		src: url(https://famicomcd.github.io/fonts/FOT-Seurat-ProB.otf);
		}
		
		body {
		background-color:#170d29;
		}

		.mainpage {
		margin-left:20%;
		margin-right:20%;
		color:white;
		font-family: "Seurat Pro";
		}

		.icons {
		border-radius: 600px;
		width: 200px;
		height: auto;
		float: left;
		display:inline;
		}
		
		.boxes{
		border-radius:10px;
		}
		
		.homebutton{
		float:right;
		display:none;
		}

		.titletext {
		text-align:center;
		}	
		
		.boxestitle {
		display:inline-block;
		width:50%;
		font-size:24px;
		}
		
		.boxeshome {
		display:inline-block;
		float:right;
		font-size:24px;
		transition: all 0.1s ease-in-out;	
		}
		
		.boxeshome:hover {
		transform: scale(1.04);
		transition: all 0.07s ease-in-out;	
		}
		
		.boxeshome:active {
		transform: scale(0.95);
		opacity:0.7;	
		}
		
		.boxesartfight {
		display:inline-block;
		font-size:24px;
		transition: all 0.1s ease-in-out;	
		}
		
		.boxesartfight:hover {
		transform: scale(1.04);	
		transition: all 0.07s ease-in-out;	
		}
		
		.boxesartfight:active {
		transform: scale(0.95);
		opacity:0.7;	
		}
		
		
		.spboxes{
		border-radius:10px;
		}
		
		.mainboxes{
		border-radius:10px;
		padding:20px;
		}
		
		.padneed {
		padding-left:10px;
		}

		.name {
		font-size:30px;
		padding-left:30px;
		margin:0;
		}
		
		.socialicons {
		display: inline-flex;
		float: left;
		padding-left:32px;
		}
		
		.projecticons {
		width:60%;
		transition: all 0.1s ease-in-out;	
		}
		
		.projecticons:hover {
		transform: scale(1.04);	
		cursor:pointer;
		transition: all 0.07s ease-in-out;	
		}
		
		.projecticons:active {
		transform: scale(0.95);
		opacity:0.7;	
		}
		
		
		
		@media screen and (max-width: 1400px) {
		
		.mainpage {
		margin-left:10%;
		margin-right:10%;
		}
		
		}
		
		
		@media screen and (max-width: 1000px) {
		
		.icons {
		width: 50%;
		height: auto;
		text-align:center;
		float:none;
		padding-bottom:10px;
		}
		

		
		.boxeshome {
		display:none;
		}		
		
		.boxestitle {
		font-size:26px;
		display:block;
		width:auto;
		}
		
		.projecticons {
		width:100%;
		}
		
		.spboxes{
		text-align:center;
		}
		
		.socialicons {
		float: none;
		padding-left:0px;
		}
		
		.name {
		padding-left:0px;
		}
		
		.mainpage {
		margin-left:0%;
		margin-right:0%;
		font-size:15px;
		}
		
		.mainboxes{
		border-radius:10px;
		padding:10px;
		}
		
		.padneed {
		padding-left:0px;
		}
		
		.dealwiththeicon {
		text-align:center;		
		}
		
		
		}
		
		
		
		@media screen and (max-width: 500px) {
			
			
		.boxestitle {

		font-size:20px;
		}
			
			
		}
		
		
		@media screen and (max-width: 400px) {
			
			
		.boxestitle {

		font-size:18px;
		}
			
			
		}